<div class="container">
    <div class="card ">
        <div class="card-header bg-primary">Tiles</div>
         <div class="card-body o">
<select [(ngModel)]='selected'>
    <option *ngFor="let optionitem of search" value="{{optionitem}}">{{optionitem}}</option>
</select>
<input type="text" [(ngModel)]='selectedinput'>
<button (click)='search_filter()'>search</button>
<table class="table"  *ngIf="tiles && tiles.length>0">
    <thead>
      <tr> 
           <td>Image</td>
        <td>Name</td>
        <td>Model</td>
        <td>Price</td>
        <td>Rating</td>
        <td>Status</td></tr>
    </thead>
    <tbody>
            <tr *ngFor="let tile of searcheditems">  
                <!--above tiles is an object, which was created in tiles component , and it contains array list of values -->
                 <td>
                    <img [src]='imagepath + tile.image'> 
                   </td>
                <td>{{tile.name}}</td>
                <td>{{tile.model}}</td>
                <td>{{tile.price | currency:['INR']}}</td><!-- for indian currency --> 
                <!-- <td>{{tile.price | currency}}</td>for Dollar currency -->
                <td>{{tile.rating}}</td>
                <td>{{tile.status |status}}</td>
            </tr>
    </tbody>

</table>
<div  *ngIf="tiles && tiles.length==0">
    No Data Found...
</div>

         </div>
        </div>
    </div>
<!-- new -->